<div class="col-8">
    <div class="media">
        <img class="align-self-center mr-3" style="width: 40px; height: 40px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgeCcQUwGikScGUriqzG6uY4DvGdfJqq0jBVHqR756UNlw-mcbcg" alt="Generic placeholder image">
        <div class="media-body">
            <h6 class="mt-0">{{ currentUser.username }}<small> - {{ currentUser.allMyFriends|length }} ami(s)</small></h6>
            <p>
                <button class="btn btn-link btn-primary"  data-toggle="modal" data-target="#newMessageModal"> New message </button>
                {% if currentUser.username != timelineOwner.username %}
                    <a href="{{ path('index') }}" class="card-link">Voir ma timeline</a>
                {% endif %}
            </p>
        </div>
    </div>
</div>

<div class="col-4">
    <div class="row">
        <div class="col-12 mb-3">
        {% if currentUser.allMyFriends|length > 0 %}
        <button type="button" class="btn  btn-primary btn-link btn-block" data-toggle="modal" data-target="#friendsModalLong">
            Friend list...
        </button>
        {% else %}
            It seems you don't have any friend yet... Click on the user list link below and choose who are your friends ..
        {% endif %}
        </div>
        <div class="col-12">
            {% if userList is defined %}
                {% include 'client/user_list.html.twig' %}
            {% endif %}
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="friendsModalLong" tabindex="-1" role="dialog" aria-labelledby="friendsModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="friendsModalLongTitle">Friend List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                    {% for friend in currentUser.allMyFriends %}
                        <li class="media col-12">
                            <img class="align-self-center mr-3" style="width: 25px; height: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgeCcQUwGikScGUriqzG6uY4DvGdfJqq0jBVHqR756UNlw-mcbcg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h7 class="mt-0 mb-1">{{ friend.username }}</h7>
                                <small class="text-muted">{{ friend.name }} {{ friend.firstName }}</small>
                                <span class="link-timeline link-timeline_{{ friend.id }} badge badge-success pointer" data-user="{{ path('index', {'id': friend.id} ) }}">Voir sa timeline...</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="newMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newMessageModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(newMessageForm) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        {{ form_label(newMessageForm.toUser) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(newMessageForm.toUser) }}
                    </div>
                    <div class="col-3">
                        {{ form_label(newMessageForm.subject) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(newMessageForm.subject) }}
                    </div>
                    <div class="col-3">
                        {{ form_label(newMessageForm.bodyMessage) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(newMessageForm.bodyMessage) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(newMessageForm.save) }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            {{ form_end(newMessageForm) }}
        </div>
    </div>
</div>

<div class="modal fade" id="editMessageModal" tabindex="-1" role="dialog" aria-labelledby="editMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editMessageModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(editMessageForm) }}
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        {{ form_label(editMessageForm.toUser) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(editMessageForm.toUser) }}
                    </div>
                    <div class="col-3">
                        {{ form_label(editMessageForm.subject) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(editMessageForm.subject) }}
                    </div>
                    <div class="col-3">
                        {{ form_label(editMessageForm.bodyMessage) }}
                    </div>
                    <div class="col-9">
                        {{ form_widget(editMessageForm.bodyMessage) }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {{ form_widget(editMessageForm.save) }}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            {{ form_end(editMessageForm) }}
        </div>
    </div>
</div>