{% extends  'base.html.twig' %}

{% block user %}
    {% include 'client/current_user.html.twig' %}

{% endblock %}
{% block message_wall %}
    <div class="row messages-wall">
    {% if myMessages is defined %}
        {% include 'client/messages.html.twig' %}
    {% endif %}
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function () {
            // Formulaire d'ajout d'amis
            $('.create-friend').on('click', function () {
                let friend = $(this).data('friendid')
                $('#friend_form_friend').val(friend)
                $('form[name="friend_form"]').submit()
            })
            $('.reply-msg').on('hide.bs.collapse', function () {
                let btnId = $(this).data('from');
                $('#'+btnId).text('See the replies...')
            })

            $('.reply-msg').on('show.bs.collapse', function () {
                let btnId = $(this).data('from');
                $('#'+btnId).text('Hide the replies...')
            })
            $('.link-timeline').on('click', function (event) {
                let url = $(this).data('user')
                window.location = url
            })

            $(document).ready(function () {
                $('#editMessageModal').on('show.bs.modal', function (event) {
                    // Formulaire de reponse au messages
                    var button = $(event.relatedTarget) // Button that triggered the modal

                    var subjectDivId = button.data('message_subject_id')
                    var bodyDivId = button.data('message_body_id')
                    var idMsg = button.data('message_id')
                    var idToUser = button.data('message_touser_id')
                    var userName = button.data('toname')
                    var idOwner = button.data('message_owner_id')
                    var modal = $(this)
                    modal.find('.modal-title').text('Edit message to ' + userName)

                    console.log(idMsg);
                    console.log(idOwner);

                    $('#form_edit_message_subject').val($('#'+subjectDivId).text())
                    $('#form_edit_message_bodyMessage').val($('#'+bodyDivId).text())

                    $("#form_edit_message_toUser option").filter(function() {
                        //may want to use $.trim in here

                        return $(this).val() == idToUser;
                    }).prop('selected', true);

                    //$('').val(idToUser)
                    $('#form_edit_message_owner').val(idOwner)
                    $('#form_edit_message_id').val(idMsg)
                })
            })
        })
        $(document).ready(function () {
            $('#replyModal').on('show.bs.modal', function (event) {
                // Formulaire de reponse au messages
                var button = $(event.relatedTarget) // Button that triggered the modal

                var subject = button.data('contentsubject') // Extract info from data-* attributes
                var owner = button.data('owner') // Extract info from data-* attributes
                var toUser = button.data('touser') // Extract info from data-* attributes
                var userName = button.data('toname')
                var parent = button.data('parent') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('New message to ' + userName)
                $('#reply_form_subject').val('Re: ' + subject)
                $('#reply_form_parentMessage').val(parent)
                $('#reply_form_toUser').val(toUser)
                $('#reply_form_owner').val(owner)
            })

            $('#saving_form').on('click', function () {
                $("#reply_form").submit()
            })
        })
    </script>
{% endblock %}
