{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mb-5"></div>
    <div class="row justify-content-md-center card card-heayder">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto card-title text-center">Veuillez vous identifier ou créer un compte...</div>
        <div class="col col-lg-2"></div>
        <div class="col col-lg-2"></div>
        <div class="col-md-auto card-body text-center">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <div class="col col-lg-2"></div>
        <div class="col-12">&nbsp;</div>
        <div class="col-sm pb-2">&nbsp;</div>
        <div class="col-sm pb-4 card-link h6 small">
            <a href="{{ path('subscribe') }}">Créer un compte</a>
        </div>
        <div class="col-sm ">&nbsp;</div>
    </div>

{% endblock %}