<div class="col-12">
    {% if timelineOwner.username == currentUser.username %}
        <h5 class="card-title">Ma Timeline</h5>
    {% else %}
        <div class="media">
            <img class="align-self-center mr-3" style="width: 25px; height: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgeCcQUwGikScGUriqzG6uY4DvGdfJqq0jBVHqR756UNlw-mcbcg" alt="Generic placeholder image">
            <div class="media-body">
                <h6 class="mt-0"> TimeLine de {{ timelineOwner.username }}</h6>
            </div>
        </div>
    {% endif %}
</div>
{% for message in myMessages %}
    <div class="card card-body col-12 mb-5">
        <div class="row justify-content-between">
            <div class="col-4">
                <p class="card-text text-left">
                    <small>
                        le {{ message.updatedAt|date("d/m/Y \\à H:i:s") }} {{ currentUser.username == message.owner.username ? 'You': message.owner.completeName }} wrote a message to {{ currentUser.username == message.toUser.username ? 'you': message.toUser.completeName }}.
                    </small>
                </p>
            </div>
            <div class="col-4">
                <p class="card-text text-right">
                {% if message.owner.username == currentUser.username %}
                    <small>
                        <a href="#" class="edit-message text-right" data-toggle="modal" data-target="#editMessageModal" data-toname="{{ message.toUser.username }}" data-message_subject_id="message_subject_{{ message.id }}" data-message_body_id="message_body_{{ message.id }}" data-message_touser_id="{{ message.toUser.id }}" data-message_owner_id="{{ message.owner.id }}" data-message_id="{{ message.id }}">
                            edit
                        </a>
                    </small>
                {% endif %}
            </p>
            </div>
        </div>
        <h5 class="card-title" id="message_subject_{{ message.id }}">{{ message.subject }}</h5>
        <p class="card-text" id="message_body_{{ message.id }}">{{ message.bodyMessage }}</p>
        <div class="row">
            {% include 'client/reply_form.html.twig' %}
            {% include 'client/reply.html.twig' %}
        </div>
    </div>
    {#<div class="card-footer col-12">#}
        {#&nbsp;#}
    {#</div>#}
{% endfor %}

