{% if message.replies|length > 0 %}
    <div class="col-6">
        <button class="btn btn-primary btn-link btn-block mb-2 reply-collapse" id="collapse_btn_{{ message.id }}" type="button" data-toggle="collapse" data-target="#collapseRep_{{ message.id }}" aria-expanded="false" aria-controls="collapseRep_{{ message.id }}">
            See the replies...
        </button>
    </div>
    <div class="col-12">
        <div class="collapse mb-3 reply-msg" id="collapseRep_{{ message.id }}" data-from="collapse_btn_{{ message.id }}">
    {% for reply in message.replies %}
            <div class="card card-header">
                <p class="small">le {{ reply.updatedAt|date("d/m/Y \\à H:i:s") }} {{ currentUser.username == reply.owner.username ? 'vous avez répondu': reply.owner.getCompleteName()~' vous a répondu' }} </p>
                <h5 class="card-title">{{ reply.subject }}</h5>
                <p class="card-text">{{ reply.bodyMessage }}</p>
            </div>
    {% endfor %}
        </div>
    </div>
{% endif %}