<div class="col-6">
    <button type="button" class="btn btn-primary btn-link btn-block mb-4" data-toggle="modal" data-target="#replyModal" data-contentsubject="{{ message.subject }}" data-parent="{{ message.id }}" data-owner="{{ currentUser.id }}" data-toUser="{{ message.owner.id }}" data-toName="{{ message.owner.username }}">
        Reply
    </button>

    <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="replyModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="reply_form" name="reply_form" method="post">
                        <div id="reply_form">
                            <div>
                                <label for="reply_form_subject" class="required">Subject</label>
                                <input type="text" id="reply_form_subject" name="reply_form[subject]" required="required">
                            </div>
                            <div>
                                <label for="reply_form_bodyMessage" class="required">Body message</label>
                                <textarea id="reply_form_bodyMessage" name="reply_form[bodyMessage]" required="required"></textarea>
                            </div>
                            <input type="hidden" id="reply_form_parentMessage" name="reply_form[parentMessage]" value="">
                            <input type="hidden" id="reply_form_toUser" name="reply_form[toUser]" value="">
                            <input type="hidden" id="reply_form_owner" name="reply_form[owner]" value="">
                            <div style="display:none">
                                <button type="submit" id="reply_form_save" name="reply_form[save]">Answer</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" id="saving_form" class="btn btn-success">Send message</button>
                </div>
            </div>
        </div>
    </div>

</div>