{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    <div class="row mb-5"></div>
    <div class="row justify-content-center card card-body">
       <div class="col-12 text-center">
           <p class="card-title">Formulaire de souscription </p>
       </div>
        <div class="col-12">
            {{ form_start(form) }}
            <div class="row justify-center">
                <div class="col-5 text-right">
                    {{ form_label(form.username) }}
                </div>
                <div class="col-5 text-left">
                    {{ form_widget(form.username) }}
                </div>
                <div class="col-5 text-right">
                    {{ form_label(form.password) }}
                </div>
                <div class="col-5 text-left">
                    {{ form_widget(form.password) }}
                </div>
                <div class="col-5 text-right">
                    {{ form_label(form.name) }}
                </div>
                <div class="col-5 text-left">
                    {{ form_widget(form.name) }}
                </div>
                <div class="col-5 text-right">
                    {{ form_label(form.firstname) }}
                </div>
                <div class="col-5 text-left">
                    {{ form_widget(form.firstname) }}
                </div>
                <div class="col-12 text-center">
                    {{ form_row(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="col-sm pb-4 card-link h6 small"><a href="{{ path("home") }}"> login </a></div>
    </div>

{% endblock %}
