{% if userList|length > 0 %}
    <button type="button" class="btn btn-primary btn-link btn-block" data-toggle="modal" data-target="#userListModalLong">
        Users list
    </button>
{% else %}
    It seems there is nobody on the network...
{% endif %}

<div class="modal fade" id="userListModalLong" tabindex="-1" role="dialog" aria-labelledby="userListModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userListModalLongTitle">Users List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled">
                {% for user in userList if user.username != currentUser.username %}
                    <li class="media col-12 mb-3">
                        <img class="align-self-center mr-3" style="width: 25px; height: 25px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgeCcQUwGikScGUriqzG6uY4DvGdfJqq0jBVHqR756UNlw-mcbcg" data-friendid="{{ user.id }}" alt="Generic placeholder image">
                        <div class="media-body">
                            <h7 class="mt-0 mb-1">{{ user.username }}</h7>
                            <small class="text-muted">{{ user.name }} {{ user.firstName }}</small>
                            {% if user.username in usernameFriends %}
                                <a href="#" class="link-timeline link-timeline_{{ user.id }} badge badge-success pointer" data-user="{{ path('index', {'id': user.id} ) }}">Voir sa timeline...</a>
                            {%  elseif currentUser.username != user.username %}
                                <a href="#" class="badge badge-success pointer create-friend" data-friendid="{{ user.id }}">Devenir amis...</a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <form name="friend_form" method="post" style="display: none">
                    <div id="friend_form">
                        <input type="hidden" id="friend_form_friend" name="friend_form[friend]" required="required" value="">
                        <input type="hidden" id="friend_form_user" name="friend_form[user]" required="required" value="{{ currentUser.id }}">
                    </div>
                </form>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>