<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}
                <div class="row text-center justify-content-between m-5">
                    <div class="col-10">
                        API SOCIAL NETWORK
                    </div>
                        <div class="col-1 h6 ">
                            <p class="text-right small">
                                {% if app.session is not empty and app.session.get('token') is not empty %}
                                    <a href="{{ path('logout') }}" class="h6 small ">logout</a>
                                {% else %}
                                    <a href="{{ path('login') }}" class="h6 small ">login</a>
                                {% endif %}
                            </p>
                        </div>
                </div>
                <div class="row justify-content-between">
                {% block user %}
                {% endblock %}
                </div>
                <div class="row">
                    <div class="col-12" id="timeline">
                {% block message_wall %}
                {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
